@import './reset';

html body,
#app {
  position: relative;
  overflow: auto;
  padding: 0;
  height: 100vh;
  font-size: 14px;
  font-family: 'PingFang SC', Arial, 'Microsoft YaHei', sans-serif;
  color: var(--el-color-black);
  background: #f6f8f9;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --el-color-white: #fff;
  --el-color-grey: rgb(0 0 0 / 65%);
}
